.all-post
    #pagination
        button[disabled]
            color: #949494
        .btn-pagination-prev
            border: 1px solid #03a87c
            background: #fff
            border-radius: 4px 0 0 4px
            padding: 4px 8px
        .btn-pagination-next
            border: 1px solid #03a87c
            background: #fff
            border-radius: 0 4px 4px 0
            padding: 4px 8px
            margin-left: -1px
        .page-btn
            border: 1px solid #03a87c
            background: #fff
            width: 35px
            margin-left: -1px
        .current__page
            background: #03a87c
            color: #fff!important
    .title
        font-size: 20px
        color: #0a0a0a
        font-weight: 600
    .loop_article
        padding: 16px 0
        border-bottom: 1px solid #cdcdcd70
        &:last-child
            border-bottom: 0px
        a
            h2
                color: #0a0a0a
                font-size: 24px
                line-height: 30px
                font-weight: 600
            &:hover h2
                color: #03a87c
                text-decoration: underline
        .images
            flex: 0 0 20%
            img
                height: 120px
                width: 175px
        .content
        .meta
            .cat
                font-weight: 600
                a
                    color: #0a0a0a
                    &:hover
                        color: #03a87c
