.list-fitur
    padding: 64px 0
    @media screen and ( max-width:  991px)
        padding: 32px 0
    .card-fitur
        background-color: #f0f0f0
        border-radius: 5px
        border: 1px solid #4950573d
        .inner-card
            padding: 32px
            .title
                h3
                    font-weight: 600
            .qty
                margin-bottom: 12px
                .active
                    color: #000
                    font-weight: 500
                .deactive
                    color: #dc3545
                    font-weight: 500
