.choose_article
    padding: 32px 0
    .card_blog_features
        a
            text-decoration: none
            &:hover
                color: #03a87c
            h2
                font-weight: 600

    .check_article
        a
            text-decoration: none
            h2
                color: #0a0a0a
            &:hover h2
                color: #03a87c

        .single-article
            img
                height: 80px
                width: 120px
                border-radius: 4px
            &-cat
                color: #03a87c
                font-weight: 600
