.wrapper-post-cat
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: auto auto
    gap: 32px
    margin-bottom: 32px
    @media screen and ( max-width:  480px)
        grid-template-columns: 1fr
        grid-template-rows: repeat(4, auto)
        margin-bottom: 24px
    a
        &:hover h2
            color: #03a87c
            text-decoration: underline
    .post-card
        display: flex
        flex-direction: column
        gap: 16px
        .thumbnail_images
            width: 100%
            border-radius: 5px
            overflow: hidden
            img
                width: 100%
                object-fit: cover
                aspect-ratio: 3 / 2
.category-url
    text-align: center
    padding: 0 0 32px 0
    a
        font-size: 18px
        font-weight: 500
        color: #198754
        font-weight: 500
        border: 1px solid #198754
        padding: 10px
        border-radius: 4px
        display: inline-flex
        align-items: center
        gap: 8px
        &:hover
            background: #e8f3ec
